TWITTER_BEARER_TOKEN="XXXXXXXX"

INSTAGRAM_USER_NAME="XXXXXX"
INSTAGRAM_PASSWORD="XXXXXX"

FACEBOOK_EMAIL="XXXXXXXX"
FACEBOOK_PASSWORD="XXXXXXXXX"

YOUTUBE_API_KEY="XXXXXXXXXXXX"

SECRET_KEY_BASE="XXXXXXXX"
SLACK_ERROR_WEBHOOK_URL="XXXXXXXXX"

ALLOW_CUSTOM_CALLBACK="true"
ZENODOTUS_URL="http://www.example.com"

ALLOW_FORCE="true"

HOST="XXXXXXXXXXXX"

AWS_REGION="us-east-1"
AWS_S3_BUCKET_NAME="XXXXXXXX"
AWS_ACCESS_KEY_ID="XXXXXXXX"
AWS_SECRET_ACCESS_KEY="XXXXXXXXXXX"
